__pycache__
asreview.egg-info
build
dist
docker
docs
env
images
tests

.coveragerc
.dockerignore
.gitattributes
.github
.gitignore
.gitmodules
.readthedocs.yaml
.vscode
.zenodo.json
app.json
asreview/webapp/node_modules
azuredeploy.json
azuredeploy.parameters.json
MANIFEST.in
*.md

!README.md

# .git is not ignored because we need the information for versioneer
