version: '3.9'
services:

  asreview_database:
    container_name: asreview_database
    image: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - auth_verified_database:/var/lib/postgresql/data

  backend:
    build:
      context: ../../
      dockerfile: ./Docker/auth_verified/Dockerfile_backend
      args:
        FRONTEND_DOMAIN: ${FRONTEND_DOMAIN:-http://localhost}
        FLASK_SESSION_COOKIE_SAMESITE: ${FLASK_SESSION_COOKIE_SAMESITE:-Lax}
        BACKEND_INTERNAL_PORT: ${BACKEND_INTERNAL_PORT}
        FRONTEND_EXTERNAL_PORT: ${FRONTEND_EXTERNAL_PORT}
        FLASK_MAIL_PASSWORD: ${FLASK_MAIL_PASSWORD:-password}
        WORKERS: ${WORKERS:-1}
        SQLALCHEMY_DATABASE_URI: "postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@asreview_database:5432/${POSTGRES_DB}"
        CREATE_TABLES: "asreview auth-tool create-db --db-uri=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@asreview_database:5432/${POSTGRES_DB}"
    ports:
      - "${BACKEND_EXTERNAL_PORT}:${BACKEND_INTERNAL_PORT}"
    depends_on:
      asreview_database:
        condition: service_healthy
    volumes:
      - auth_verified_project_folder:/app/project_folder

  frontend:
    build:
      context: ../../
      dockerfile: ./Docker/auth_verified/Dockerfile_frontend
      args:
        API_URL: http://localhost:${BACKEND_EXTERNAL_PORT}/
    ports:
      - "${FRONTEND_EXTERNAL_PORT}:${FRONTEND_INTERNAL_PORT}"

volumes:
  auth_verified_project_folder:
  auth_verified_database:
