.App {
  text-align: left;
}

.main-page-sticky-header {
  display: flex;
  padding: 24px;
}
.main-page-sticky-header.with-button {
  justify-content: space-between;
}
.main-page-sticky-header-wrapper {
  background: #fff;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
}
.main-page-body {
  max-width: 960px;
  padding: 8px 24px 24px 24px;
}
.main-page-body-wrapper {
  display: flex;
  justify-content: center;
}

.navBar {
  background-color: #ffcc00;
}
.btnGrey {
  background-color: #bcbcbb;
}
.btnBlue {
  background-color: #00a6e1;
}
.btnGreen {
  background-color: #5dd41b;
}
.btnRed {
  background-color: #df462e;
}

.fontSizeSmall {
  font-size: 90% !important;
}
.fontSizeDefault {
  font-size: 100% !important;
}
.fontSizeLarge {
  font-size: 120% !important;
}
.fontSizeLargest {
  font-size: 140% !important;
}

.typography-wrap {
  white-space: pre-line;
}
