.App {
  text-align: left;
}

.navBar {
  background-color: #ffcc00;
}
.btnGrey {
  background-color: #bcbcbb;
}
.btnBlue {
  background-color: #00a6e1;
}
.btnGreen {
  background-color: #5dd41b;
}
.btnRed {
  background-color: #df462e;
}

.fontSizeSmall {
  font-size: 90% !important;
}
.fontSizeDefault {
  font-size: 100% !important;
}
.fontSizeLarge {
  font-size: 120% !important;
}
.fontSizeLargest {
  font-size: 140% !important;
}

.navDrawerSelected::before {
  top: 0px;
  right: 0px;
  width: 3px;
  bottom: 0px;
  content: "";
  position: absolute;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #91620b;
}
