name: test-core
on: [push, pull_request]
jobs:
  lint-python:
    name: lint-python
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v1
      with:
        python-version: '3.8'
        architecture: 'x64'
    - name: Install flake8
      run: |
        pip install flake8 flake8-import-order
    - name: Lint python with flake8
      run: |
        flake8 . --max-complexity=10 --statistics
  test-minimal-deps:
    name: test-minimal-deps
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v1
      with:
        python-version: '3.8'
        architecture: 'x64'
    - name: Install packages
      run: |
        pip install pytest
        pip install --no-cache-dir .
    - name: Run test suite
      run: |
        pytest tests/
  test-full-deps:
    name: test-full-deps
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v1
      with:
        python-version: '3.8'
        architecture: 'x64'
    - name: Install packages
      run: |
        pip install pytest
        pip install --upgrade setuptools>=41.0.0
        pip install --no-cache-dir .[sbert]
        pip install --no-cache-dir gensim==4.0.1
        pip install --no-cache-dir .[tensorflow]
        pip install --no-cache-dir .[dev]
        pip install --no-cache-dir .[test]
        pip install --no-cache-dir .
    - name: Run test suite
      run: |
        pytest tests/
