name: test-suite
on: [push, pull_request]
jobs:
  test:
    name: pytest
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v1
      with:
        python-version: '3.6' # Version range or exact version of a Python version to use, using semvers version range syntax.
        architecture: 'x64' # (x64 or x86)
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - name: Compile assets
      run: |
        python setup.py compile_assets
    - name: Install packages and run tests  
      run: |
        pip install pytest
        pip install --upgrade setuptools>=41.0.0
        pip install .[all]
        pytest
     
