name: "Docs render check"
on: [push, pull_request]

jobs:
  docs:
    runs-on: macos-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Install pandoc
      run: |
        brew install pandoc
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install asreview
      run: |
        python -m pip install .
    - name: Install docs dependencies
      run: |
        python -m pip install -r docs/requirements.txt
    - name: Build HTML
      run: |
        python -m sphinx -W --keep-going --color docs/ build/html/
